OPENAI_API_KEY= your-openai-api-key
OPENAI_MODEL= your-model-name
OPENAI_CODE_MODEL=your-model-name

API_BASE=http://127.0.0.1:8001

GOOGLE_API_KEY = your-goolge-api-key 

LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= your-langsmith-api 
LANGSMITH_PROJECT=multi-agent-system-dataviz


